<?xml version="1.0" encoding="windows-1251"?>
<config><COM>1</COM><TimeOut>42</TimeOut><cash><CheckBox10rub>True</CheckBox10rub><CheckBox50rub>True</CheckBox50rub><CheckBox100rub>True</CheckBox100rub><CheckBox500rub>True</CheckBox500rub><CheckBox1000rub>True</CheckBox1000rub><CheckBox5000rub>False</CheckBox5000rub></cash></config>
